header{
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-Content: center;
    width: 100%;
}

p{
    color: black;
    text-align: center;
}
#body{
    align-Items: center;
    background-Color: #CBE4DE;
    min-Height: 100vh
}
