html,body {
  background-color: #CBE4DE;
  height:100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-Items: center;
  flex-wrap: wrap;
  min-Height: 100vh
}

/*ESTILOS DEL LOGIN*/
#h1Login{
  text-Align: center;
  color:#0E8388;
}
#formLogin{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#formLogin{
  text-align: center;
  display: grid;
  align-Items: center;
  background-color: #424242;
  padding: 2rem;
  border-radius: 40px;
  width: 30%;
  padding-top: 30px;
  box-shadow: 5px 5px 5px 5px rgb(104, 101, 101);
}
#inputEmailLogin,#inputPasswordLogin{
  margin-Bottom: 10px;
  padding: 15px;
  background-color: #424242;
  border: 1px solid;
  border-radius: 15px;
  font-size: 15px;
}
#botonLogin{
  background-Color: #0E8388;
  color: #ffffff;
  padding: 8px 16px;
}


/*ESTILOS DEL REGISTER*/
#h1Register{
  text-Align: center;
  color:#0E8388;
}
#formRegister{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  display: grid;
  align-Items: center;
  background-color: #424242;
  padding: 2rem;
  border-radius: 40px;
  width: 30%;
  padding-top: 30px;
  box-shadow: 5px 5px 5px 5px rgb(104, 101, 101);
}
#inputNombreRegister,#inputApellidoRegister,#inputDniRegister,
#inputEmailRegister,#inputPasswordRegister{
  margin-Bottom: 10px;
  padding: 15px;
  background-color: #424242;
  border: 1px solid;
  border-radius: 15px;
  font-size: 15px;
}
#botonRegistrarse{
  background-Color: #0E8388;
  color: #ffffff;
  padding: 8px 16px;
}
#botonAtras{
  background-Color: #0E8388;
  color: #ffffff;
  padding: 8px 16px;

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
