html,body {
  background-color: #CBE4DE;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-Items: center;
  min-Height: 100vh

}
/*estilos del login*/
#h1Login{
  text-Align: center;
  color:#0E8388;
}
#formLogin{
  display: grid;
  flex-Direction: column;
  align-Items: center;
}
#inputEmailLogin, #inpunPasswordLogin{
  margin-Bottom: 10px;
  padding: 5px;
}
#botonLogin, #botonRegistrarse{
  background-Color: #2E4F4F;
  color: #ffffff;
  padding: 8px 16px;
}
