html,body {
  background-color: #CBE4DE;
  height: 100%;
  margin: 0;
  padding: 0;
}

input.inputBox {
  font-size: 22px;
  text-align: center;
  padding: 5px 8px 4px 8px;
  border-radius: 4px;
  background-color: #fbfbfb;
  border: 1px solid #666;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}